@media screen and (max-width: 992px) {

    #indLet1{
        padding: 5%;
    }

    #indDecImg{
        display: none;
    }

    .decLetLft{
        display: none;
    }

    .decLetRgt{
        display: none;
    }


    #circ1{
        grid-column: 10;
    }

    #indLet2{
        grid-column: 2/10;
    }

    #circ2{
        grid-column: 2;
    }

    #indLet3{
        grid-column: 3/11;
    }

    #circ3{
        grid-column: 10;
    }

    #indLet4{
        grid-column: 2/10;
    }

    #indLet5{
        grid-column: 2/11;
        grid-row: 6/8;
        margin-bottom: map-get($tamanios, xl);
    }

    #letCono{
        grid-row: 7;
    }

    #indLet6{
        grid-column: 2/11;
        grid-row: 8/10;
        margin-bottom: map-get($tamanios, xl);
    }

    #letTuto{
        grid-row: 9;
    }

    #indLet7{
        grid-column: 2/11;
        grid-row: 10/12;
        margin-bottom: map-get($tamanios, xl);
    }

    #letProy{
        grid-row: 11;
        margin-bottom: 15px;
    }

    /*Estilos Página Conócenos*/
    .titulo{
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        border-radius: map-get($tamanios, md);
        padding-right: 12%;
        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-left: 50%;
        margin-right: 15%;
        font-size: map-get($tamanios, lg);
        background-color: $colorDecOsc;  
    }
    
    .contenido{
        font-size: map-get($tamanios, lg);
        background-color: #3665A4;  
    
    }
    
    .tutoriales{
        padding: 10%;
    
    }
    
    .bienvtutos{
        margin-top: 200px;
        font-size: map-get($tamanios, md);
        border-radius: map-get($tamanios, md);
        background-color: #3665A4; 
    }
    
    .tarjetas{
        font-size: map-get($tamanios, xs);
        margin-bottom: map-get($tamanios, sm);
        border-radius: map-get($tamanios, md);
        background-color: #717e96; 
    }




}