$colorPrinc: #0a1f50;
$colorDecOsc:#12229D;
$colorDecClaro:#5F9FDB;
$colorDecMedio:#21426d;
$colorBlanco:#ffffff;
$grisDecorat:#777587;

$tamanios: (
    xl: 50px,
    lg: 40px,
    md: 30px,
    sm: 20px,
    xs: 10px
);