//Variables
@import "variables";

//Extends
@import "extendProp";
@import "mixinsProp";

//Partials
@import "animaciones";
@import "generales";
@import "indexstyle";
@import "medias";




//Estilos de las páginas
.titulo{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    border-radius: map-get($tamanios, md);
    padding-right: 12%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 50%;
    margin-right: 15%;
    font-size: map-get($tamanios, lg);
    background-color: #004ad0;  
    animation: slideinBottom 1s;
}

.contenido{
    font-size: map-get($tamanios, lg);
    background-color: #3665A4;  

}

.tutoriales{
    padding: 10%;
    animation: slideinRight 3s;

}

.bienvtutos{
    @extend %titulos;
    background-color: #3665A4; 
}

.bienvcontac{
    @extend .bienvtutos;
    background-color: #717e96;
}

.tarjetas{
    font-size: map-get($tamanios, xs);
    margin-bottom: map-get($tamanios, sm);
    border-radius: map-get($tamanios, md);
    background-color: #717e96; 
}


